<div class="row tab-pane active" role="tabpanel" id="grid">
	<!--CAMPAIGNS COLUMN-->

	<div id="myCarousel" data-interval="false" class="carousel slide col-md-9" style="text-align: center; no-margin">


		<div class="row">
			<div>
				<div>
<!--view begin-->
                   
					<!--<div *ngFor="let slide of slides;let i=index"  [class.active]="i == 0">-->
						<!--<div *ngFor="let parameter of slide.parameters" >-->
            <!--<tr *ngFor="let parameter of slide.parameters">-->

<!--view-->
							
									<parameters-view ></parameters-view>
								
						<!--</div>-->
<!--view begin-->

    <!--view-->

				</div>
			</div>
		</div>
		<div class="row" *ngIf="false">
			<div class="col-md-2">
				<div class="pull-left">
					<a class="btn btn-success btn-sm" href="#myCarousel" role="button" data-slide="prev">
						<i class="glyphicon glyphicon-chevron-left" aria-hidden="true"></i>Previous
					</a>
				</div>
			</div>
			<div class="col-md-8 nopadding" style="height: 38px;">
				<ol class="carousel-indicators carousel-linked-nav carousel-pagination ">
					<li *ngFor="let slide of slides;let i=index" data-target="#myCarousel " attr.data-slide-to="{{i}}" [class.active]="i == 0">{{i+1}}</li>
				</ol>
			</div>
			<div class="col-md-2">
				<div class="pull-right">
					<a class="btn btn-info btn-sm" href="#myCarousel" role="button" data-slide="next">
                           Next<i class="glyphicon glyphicon-chevron-right" aria-hidden="true"></i>
                        </a>
				</div>
			</div>
		</div>

	</div>




</div>