<div class="row tab-pane active" role="tabpanel" id="grid">
	
	
	<!--CAMPAIGNS COLUMN-->

	<!--<div id="myCarousel" data-interval="false" class="carousel slide col-md-9" style="text-align: center; no-margin">-->


		<div class="row">
			<div>
				<div>
<!--view begin-->
                   
					<!--<div *ngFor="let slide of slides;let i=index"  [class.active]="i == 0">-->
						<!--<div *ngFor="let parameter of slide.parameters" >-->
            <!--<tr *ngFor="let parameter of slide.parameters">-->

<!--view-->
							
									<parameters-view ></parameters-view>
								
						<!--</div>-->
<!--view begin-->

    <!--view-->

				</div>
			</div>
		</div>
	

	<!--</div>-->




</div>